.studentimg{
    width: 600px;
}
.texthead{
    /* position: absolute;
    left: 20px;
    top: 150px; */
    /* padding-right:  260px;
    padding-left:  260px; */
    font-size: 60px;
    color: aliceblue;
    background: rgba(51, 56, 61, 0.545);
    font-family:serif;
    object-fit: cover;
}

.schedule{
    height: 100%;
    width: 100%;
}

.border{
    font-family:serif;
    border-top: solid 2px #05080e;
    border-bottom: solid 2px #05080e;
}
.nextmanth{
    width: 300px;
    object-fit: cover;
}
