

/* *{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
} */

.farstvideo{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0%;
    border: 0%;
     
}
.bu1{

    height: 20%;
    width:  30%;
    display: flex;
    font-size: 40px;
    position: absolute;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top:  70%;
    left: 10%;
    background-color: rgba(131, 143, 155, 0.545);
    font-family:serif
}

a#enter{
    color: aliceblue;
    font: size 40px;;   
    position: absolute; 
}

.link{
    height: 20%;
    width:  30%;
    display: flex;
    font-size: 60px;
    position: absolute;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top:  70%;
    left: 60%;
    background-color: rgba(131, 143, 155, 0.545);
    font-family:serif
} 

a#link2{
    color: aliceblue;
    font-size:40px;   
    position: absolute; 
}
